.userInfoLine {
    width: 100vw;
    text-align: right;
    background-color: #fff;
    padding: 3px 30px;
    box-shadow: var(--default-box-shadow);
    display: flex;
    align-items: center;
    justify-content: end;
}

.userInfoLine p {
    margin-right: 10px;
}