.userInfoLine {
    width: 100vw;
    text-align: right;
    background-color: #fff;
    padding: 3px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.userInfoLine p {
    margin-right: 10px;
}