.top-container-login {
    width: 300px;
}

.container-login {
    width: 300px;
    height: 60vh;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5px;
}

.logo-login {
    width: 60%;
}

.welcome-text-login {
    font-size: 1.2em;
}

.container-login .p-password input, .container-login .p-inputtext, .container-login .p-button {
    width: 250px;
}

.signup-text {
    font-size: .9em;
}