.top-container-signup {
    width: 300px;
}

.container-signup {
    width: 300px;
    height: 70vh;
    max-height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5px;
}

.logo-signup {
    width: 60%;
}

.introduction-text-signup {
    text-align: center;
}

.container-signup .p-password input, .container-signup .p-inputtext, .container-signup .p-button {
    width: 250px;
}

.login-text {
    font-size: .9em;
}